body {
    background: rgb(49, 99, 163);
    font: normal 15pt Arial;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.39);
}

footer {
    color: rgba(255, 255, 255, 0.507);
    text-align: center;
    font-style: italic;
    padding-top: 1.5rem;
    font-size: 1rem;
}

h1 {
    font-family: 'Allura', cursive, 'Roboto', sans-serif;
    text-align: center;
    padding: 2rem;
}

.convite {
    text-align: center;
    margin: auto;
    padding-top: 2rem;
}

.pegar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: rgb(53, 53, 53);
}

.btn {
    margin-bottom: 1rem;
}

#res {
    color: darkmagenta;
    font-family: 'Allura', cursive, 'Roboto', sans-serif;
}

#diferencaDias{
    padding: 1rem 0 1rem 0;
    font-size: 0.9rem;
    font-style: italic;
    color: gray;
}